<div style="text-align:center">
  <h1>Model Comparator</h1>

  <form class="imageSelection">
    <md-select placeholder="Image for Prediction" [(ngModel)]="selected_image" required name="image_select" >
      <md-option *ngFor="let img of images" [value]="img.path" >
        {{img.name}}
      </md-option>
    </md-select>
  </form>

  <div class="selectedImage">
    <img src="{{selected_image}}" />
  </div>

  <button md-raised-button [disabled]="selected_image == ''" (click)="OnPredictClicked()">Predict</button>

  <div class="resultArea">
    <i *ngIf="isShowSpinner" class="icon-spinner icon-spin icon-large"></i>
    <img *ngIf="isShowFemale" src="./assets/female.png" height="256" width="256" style="margin-bottom: 20px;" />
    <img *ngIf="isShowMale"   src="./assets/male.png"   height="256" width="256" />

    <div *ngIf="isShowFemale || isShowMale"><span>Female: {{result_female}}%</span></div>
    <div *ngIf="isShowFemale || isShowMale"><span>Male: {{result_male}}%</span></div>
  </div>

</div>